ServicioVehiculo/VehiculoUnitTest/Service References/ServiceReference1/VehiculoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7016/VehiculoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetPosicion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosicionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPosicionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostConfiguracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
        <xs:element minOccurs="0" name="m" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostConfiguracionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostValidarComando">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comando" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="n" type="xs:int" />
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element minOccurs="0" name="posicion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostValidarComandoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="PostValidarComandoResult" nillable="true" type="q1:VehiculoRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>